{# Ceci reste dans le template #}
== Informations ==
Cible: {{ inventory_hostname }}
Arch: {{ ansible_architecture }}
Interfaces:
{% for iface in ansible_interfaces %}
  {% if iface != 'lo' -%}
     - {{ iface }}: {{ lookup('vars','ansible_'+iface).ipv4.address }}
  {% endif %}
{% endfor %}
